{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Turbo Dialect</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body style="background-color: lightblue;">
    <header>
        {% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#" style="margin-top:15px;">
                    <img src="{% static 'logo_load.png' %}" alt="Logo" width="95" height="60" class="d-inline-block align-text-top" style="margin-right:0px;">
                    <strong>Turbo Dialect</strong>
                </a>
                <span class="navbar-text">
                    Ready, Set, Design! Turbo Dialect: Your Gateway to Effortless Creativity!
                </span>
            </div>
        </nav> {% endcomment %}
        <div class="row" style="background-color: var(--bs-tertiary-color);margin-top: -40px;opacity: 90%;">
            <div class="col-xxl-3" style="width: 30%;"><img src="{% static "logo_load.png" %}" width="220" height="120"></div>
            <div class="col" style="width: 1200px;">
                <h1 style="width: 1000px;position: relative;text-align: left;padding-top: 30px;font-size: 28px;"><strong><span style="color: rgb(255, 255, 255);">Ready, Set, Design! Turbo Dialect: Your Gateway to Effortless Creativity!</span></strong></h1>
            </div>
        </div>
    </header>
    <div class="row" style="height: 600px;">
        <div class="col-xxl-6">
            <p style="height: 370px;margin: 0px 20px 5px;opacity: 50%;background-color: white;color: black;width: 96%;font-size: large;"><strong><span style="color: rgb(7, 7, 7);">REQUIREMENTS:</span></strong><br><strong><span style="color: rgb(7, 7, 7);">=&gt; </span></strong><span style="color: rgb(7, 7, 7);">Define processing element.</span><br><strong><span style="color: rgb(7, 7, 7);">=&gt;&nbsp;</span></strong>Input and outputs should be explicit.<br><strong>=&gt;&nbsp;</strong>Wording should have data-flow style.</p>
            <div class="row">
                <form method="post">
                    {% csrf_token %}
                <div class="col" style="height:93px; width:100%;"><textarea name="user_input" style="background-color: white;opacity: 50%;height: 295%;width: 96%;color: black;box-sizing: border-box;resize: none;margin: 0px 20px 5px;word-wrap: normal;padding: 12px 20px 20px; font-weight:500;" placeholder='Enter your text here: '></textarea></div>
                </form>
            </div>
        </div>
        <div id="OutputContainer" class="col" style="width: 98%;background-color: white;opacity: 50%;height: 650px;margin-right: 30px;z-index:0;">
            
            {% comment %} <p id="outputFile" class="output-file" style="width: 98%;background-color: white;opacity: 50%;height: 650px;margin-right: 30px;"></p> {% endcomment %}
            
            <iframe id="outputFile" class="output-file" style="width: 100%;height: 650px; color: black;" placeholder='OUTPUT'srcdoc={{verilog_dict}}></iframe>
        </div>
    </div>
    
    <div id="loadingContainer" class="progress-container" style="display: none;">
        <div id="progressBar" class="progress-bar"></div>
    </div>
        <button id="downloadButton" onclick="downloadFile()" style="width: 49%; height:5%; margin-left:50%; margin-top:2.7%;"> Download File </button>

    <div id="buttonContainer" style="margin-top:-4.1%; margin-left:20px;">
            <button id="startButton" onclick="startProgress()" style="width:48%; opacity:150%">Submit</button>
        </div>
        

        <!-- First Popup container -->
    {% comment %} <div id="popup1" class="popup">
        <div class="arrow"></div>
            <span class="close" onclick="closePopup1()">&times;</span>
            <p><strong>Here's a quick tutorial on how to use our website:</strong>
                <br>1. Enter your prompt in the text area on the bottom left.
                <br>2. Click the "Submit" button to generate the output.
                <br>3. The output will be displayed in the iframe on the right.
                <br>4. Happy Designing!

            </p>
    <!-- Add your tutorial content here -->
        
    </div> {% endcomment %}

    <!-- Second Popup container -->
    {% comment %} <div id="popup2" class="popup">
        <div class="arrow"></div>
            <span class="close" onclick="closePopup2()">&times;</span>
            <p>This is the second popup. You can customize its content here.</p>
    </div> {% endcomment %}

        

    <div class = "footer" style="align-content: center;padding-top: 30px; position:static;">
        <p style="text-align: center;padding-top: 30px; color: black;"><strong>Powered By MERL</strong></p>
    </div>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'index.js' %}"></script>
</body>

</html>